{{!
You can use this template to render any errors on your site if you wish
}}

<body>
    <h1>Comment Detail</h1>

    <ul>
        <li>{{comment}}</li>
        {{#if answer}}
            <ul>
                <li>&rarr; {{answer}}</li>
            </ul>
        {{/if}}
    </ul>

    {{!-- {{#if isCommentUser}}
        <form id="delete-comment-btn" action="/commentDetail/{{comment._id}}" method="PUT">Delete Comment
            <button type="submit" id="delete-comment-btn">Delete Comment</button>
        </form>
    {{/if}} --}}

    {{#if isAdmin}}
        <form id="answer-form" action="/commentsDetail/{{commentId}}" method="POST">
            <label for="answer">Owner Answer:</label>
            <input type="text" name="answerInput" id="answerInput">
            <button type="submit">Add answer</button>
        </form>
        <script src="/public/js/front_end_validation.js"></script>
    {{else}}
        <p>Only store Owner can answer the comment</p>
    {{/if}}
   
</body>