<div class="container">
    <form id="edit-product-form" action="/editProduct/{{productId}}" method="POST" enctype="multipart/form-data">
        <h2>Update Product</h2>

        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="productName" value="{{product.productName}}" required>

        <label for="productCategory">Product Category:</label>
        <select id="productCategory" name="productCategory">
            <option value="" disabled {{selected.default}}>Select</option>
            <option value="Fresh Produce" {{selected.FreshProduce}}>Fresh Produce</option>
            <option value="Dairy Products" {{selected.DairyProducts}}>Dairy Products</option>
            <option value="Meat and Poultry" {{selected.MeatAndPoultry}}>Meat and Poultry</option>
            <option value="Seafood" {{selected.Seafood}}>Seafood</option>
            <option value="Frozen Foods" {{selected.FrozenFoods}}>Frozen Foods</option>
            <option value="Bakery and Confectionery" {{selected.BakeryAndConfectionery}}>Bakery and Confectionery
            </option>
            <option value="Beverages" {{selected.Beverages}}>Beverages</option>
            <option value="Snacks" {{selected.Snacks}}>Snacks</option>
            <option value="Canned and Jarred Goods" {{selected.CannedAndJarredGoods}}>Canned and Jarred Goods</option>
            <option value="Dry Goods and Staples" {{selected.DryGoodsAndStaples}}>Dry Goods and Staples</option>
        </select>

        <label for="productPrice">Product Price:</label>
        <input type="text" id="productPrice" name="productPrice" value="{{product.productPrice}}" required>

        <label for="manufactureDate">Manufacture Date "MM/DD/YYYY":</label>
        <input type="text" id="manufactureDate" name="manufactureDate" value="{{product.manufactureDate}}" required>

        <label for="expirationDate">Erexpiration Date "MM/DD/YYYY":</label>
        <input type="text" id="expirationDate" name="expirationDate" value="{{product.expirationDate}}" required>

        <label for="stock">Stock(0 for OUT of stock):</label>
        <input type="text" id="stock" name="stock" value="{{product.stock}}" required>

        <label for="productImage">Product Image "optional":</label>
        <input type="file" id="productImage" name="productImage" accept="image/*">

        <button type="submit" class="button">Update Product</button>
    </form>
    <form id="delete-product-form" action="/editProduct/{{productId}}">
        <button type="submit">Delete Product</button>
    </form>


    <ul class="errorContainer" id="errorContainer">
        {{#if hasErrors}}
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
        {{/if}}
    </ul>

</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="/public/js/update_delete_product_ajax.js"></script>