<nav>
    <a href="/home">Home</a>
    <a href="/profile">{{name}}</a>
    {{#if isAdminAndHasAStore}}
    <a href="/store/{{storeId}}">My Store</a>
    {{/if}}
    <a href="/profile" id="avatar">
        <img src="/public/images/users/{{avatarId}}" alt="Avatar">
    </a>
    <div class="dropdown">
        <button class="dropbtn">Personal Center</button>
        <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/password">Password Change</a>
            <a href="/logout">Logout</a>
        </div>

    </div>
</nav>

<div class="searchContainer">
    <form id="search-form" action="/home/search" method="POST">
        <div class="search-container">
            <div class="search-dropdown">
                <select id="searchType" name="searchType">
                    <option value="store" selected>Store</option>
                    <option value="product">Product</option>
                </select>
            </div>
            <div class="search-input">
                <input type="text" id="searchTerm" name="searchTerm" placeholder="Enter your search term" required>
                <button type="submit">Search</button>
            </div>
        </div>
        <div id="errorContainer" class="error-messages"></div>
    </form>
</div>

{{!-- Check for no results message --}}
{{#if noResultsMessage}}
    <div class="no-results-message">
        <p>{{noResultsMessage}}</p>
    </div>
{{else}}
    <div class="search-results">
        {{#if searchTerm}}
            <div class="search-results-header">
                {{#if searchTerm }}
                    <h3>Searched Result for "{{searchTerm}}":</h3>
                {{/if}}
            </div>
        {{/if}}
        {{#each searchResult}}
            <div class="search-result-item">
                {{#if this.isStore}}
                    <a href="/store/{{this.storeID}}">
                        <img class="store-image" src="/public/images/stores/{{this.photo_id}}" alt="{{this.photo_id}}">
                        <div class="store-info">
                            <h3>{{this.name}}</h3>
                        </div>
                    </a>
                {{else if this.isProduct}}
                    <a href="/products/{{this.productId}}">
                        <img class="product-image" src="/public/images/products/{{this.productImage}}" alt="{{this.photo_id}}">
                        <div class="product-info">
                            <h3>{{this.name}}</h3>
                        </div>
                    </a>
                {{/if}}
            </div>
        {{/each}}
    </div>
{{/if}}



    <a href="/store" class="nav-link store-link">All Stores</a>
    <div class="store-grid">
    {{#if hasStores}}
    {{#each stores}}
    <div class="store-card">
        <a href="/store/{{this._id}}">
        <img class="store-image" src="/public/images/stores/{{this.photo_id}}" alt="{{this.photo_id}}">
        <div class="store-info">
            <h3>{{this.name}}</h3>
            <p>Description</p>
        </div>
        </a>
    </div>
    {{/each}}
    {{/if}}
</div>

<section class="recommendation-section">
    <h2>Recommended Stores</h2>
    <div class="recommendation-container">
        {{#each recommendedStores}}
            <div class="recommendation-item">
                <a href="/store/{{this.storeId}}">
                    <img src="/public/images/stores/{{this.photo_id}}" alt="{{this.name}}">
                </a>
                <p>{{this.name}}</p>
            </div>
        {{/each}}
    </div>
</section>


<section class="recommendation-section">
    <h2>Recommended Products</h2>
    <div class="recommendation-container">
        {{#each recommendedProducts}}
            <div class="recommendation-item">
                <a href="/products/{{this.productId}}">
                    <img src="/public/images/products/{{this.productImage}}" alt="{{this.name}}">
                </a>
                <p>{{this.name}}</p>
            </div>
        {{/each}}
    </div>
</section>

<script src="/public/js/front_end_validation.js"></script>