<!-- Yaxi for product-->
<p>Products List</p>
<button id="product_review" name="product_review">Product Review</button>
<button id="product_edit" name="product_edit" hidden>EDIT</button>

<h1>{{productName}}</h1>
    
<div>
          <p>Product Name: {{this.productName}}</p>
          <p>Product Category: {{this.productCategory}}</p>
          <p>Price: ${{this.productPrice}}</p>
          <p>Manufacture Date: {{this.manufactureDate}}</p>
          <p>expirationDate: {{this.expirationDate}}</p>
</div>

{{!-- <ul>
          {{#each allProducts}}
          <li>
          {{this}}
          </li>
          {{/each}}
</ul> --}}
<a ></a>
