<h1>{{product.productName}}</h1>
<button id="product_review" name="product_review">Product Review</button>
<a href='/editProduct/{{productId}}'>
    <button id="product_edit" name="product_edit">Edit Product</button>
</a>

{{#if product}}
<div class="products-container">
    {{!-- <p>Product Name: {{product.productName}}</p> --}}
    <p><img src="/public/images/products/{{product.productImage}}" alt="Image" width="100" height="100"></p>
    <p>Product Category: {{product.productCategory}}</p>
    <p>Price: ${{product.productPrice}}</p>
    <p>Manufacture Date: {{product.manufactureDate}}</p>
    <p>Expiration Date: {{product.expirationDate}}</p>

    {{#if product.productReviews}}
    <ul>
        {{#each product.productReviews}}
        <li>
            {{!-- <p>User Name: {{this.user_id}}</p> --}}
            <p>Review: {{this.productReviews}}</p>
            <p>Rating: {{this.rating}}</p>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p>This product has no reviews.</p>
    {{/if}}

    <form id="add-review-form" action="/{{product._id}}/reviews" method="POST">
        <input type="hidden" name="productId" value="{{product._id}}">

        <label for="productReviews">Add Review 'more than 25 characters lengths':</label>
        <textarea id="productReviews" name="productReviews" value="{{productReviews}}" required></textarea>

        <label for="productRating">Product Rating:</label>
        <select id="productRating" name="productRating">
            <option value="" disabled selected>Select</option>
            <option value="1">1 - Poor</option>
            <option value="2">2 - Fair</option>
            <option value="3">3 - Good</option>
            <option value="4">4 - Very Good</option>
            <option value="5">5 - Excellent</option>
        </select>

        <button type="submit">Submit Review</button>
    </form>
</div>
{{/if}}

    <ul class="errorContainer" id="errorContainer">
        {{#if hasErrors}}
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
        {{/if}}
    </ul>