
<p>{{store.store_name}}</p>
<div class="store-comment">
  <a href="/storeComments/{{storeID}}">See {{title}} ALL Comments</a> 

<button id="store_review" name="store_review" hidden>Store Review</button>

<button id="store_edit" name="store_edit" hidden>EDIT</button>

<h1>The Products of Store</h1>

{{!-- {{#if hasStoreProducts}} --}}
<div class="products-container">
  <ul>
    {{#each storeProducts}}
      <li class="product">
        <p>Product Name: {{this.productName}}</p>
        <p><img src = "/public/images/products/{{this.productImage}}" alt="Image" width="50" height="50"></p>
        <p>Price: ${{this.productPrice}}</p>
        <p>Posted Date: {{this.posted_date}}</p>
        <a href="/products/{{this._id}}">View Product</a>
      </li>
    {{/each}}
  </ul>
</div>

